<!--<multi-select-form [min]="1" [max]="1" [options]="games"></multi-select-form>-->

<div class="grid mt-5 flex justify-content-center">
  <div class="col md:col-8">
    <form (ngSubmit) ="submit()" [formGroup]="form">
      <p-fieldset [toggleable]="true" legend="Games">
        <p-listbox
          optionValue="id"
          formControlName="gameId"
          [options]="games"
          [multiple]="true"
          optionLabel="id"
        >
        </p-listbox>
      </p-fieldset>
      <p-button type="submit" label="Login" icon="pi pi-google"></p-button>
    </form>
  </div>
</div>


