<!--<multi-select-form [min]="1" [max]="1" [options]="games"></multi-select-form>-->

<div class="grid mt-5 flex justify-content-center">
  <div class="col md:col-8">
    <p-fieldset [toggleable]="true" legend="Games">
      <div class="p-d-flex p-jc-between">
        <div class="p-mr-2">
          <p-multiSelect [options]="games" [optionLabel]="'Date'" [optionValue]="'_id'"
                         [style]="{'width':'12em'}" [filter]="true" [filterBy]="'name'"
                         [placeholder]="'Select a Game'"></p-multiSelect>
        </div>
        <div class="p-mr-2">
          <p-button label="Add" icon="pi pi-plus" (click)="move()"></p-button>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>


<!--<p-button (click)="submit()" label="Login" icon="pi pi-google"></p-button>-->
