<div class="container">
  <div class="menu-bar">
    <menu-bar [disabled]="disable" [time]="board ? board.round.time : 0" [round]="board?board.round.number : 0"
              [players]="board ? board.players.length : 0">
    </menu-bar>
  </div>
  <div class="grid">

    <div class="board col-12 md:col-7 mt-5">
      loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate deleniti dolor id iusto
      labore,
      nostrum placeat porro temporibus voluptatibus. Cumque distinctio dolore dolorem eligendi molestiae perferendis qui
      quos vel?
    </div>

    <div class="cards-container mt-4  col-12 md:col-5">
      <deck [cards]="deck.deck"></deck>
    </div>

  </div>
</div>
